body {
    margin: 0;
    text-align: center;
    background: #fdfdfd;
    font-family: Arial, sans-serif;
}
header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
#trivia-game {
    margin:0;
}
#start{
    padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background: #2196F3;
  color: #fff;
  cursor: pointer;
}
